/* ----- Generic Styles ----- */
body {
  color: #333;
  font-size: 100%;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  line-height: 1.5;
}
section {
}
div {
}
h1 {
  font-weight: 700;
}
h2{
  font-weight: 700;
}
h3 {
  font-weight: 700;
}
h4 {
  font-weight: 700;
}
h5 {
  font-weight: 700;
}
h6 {
  font-weight: 700;
}
p {
}
a {
}
ul {
}
li {
}

/* ----- Header ----- */
header {
}
nav {
}

/* ----- Main ----- */
main {
}
.container {
}
.content {
}
.content-100 {
}
.content-right {
}
.content-left {
}
.content-slide-right {
}
.uppercase {
}
.no-margin {
}
.mt-1 {
}
.news {
}

/* ----- Footer ----- */
footer {
}
